# 忽略 Amazon_Music/old 目录及其所有内容
data/Amazon_Music/old/

data/Amazon_Music/representations/user_item_dic.wv

# 数据文件夹（大文件或临时文件）
/D:/Thesis_Project/Models/TMER/data/
*.wv
*.dic
*.pkl
*.nx

# 训练输出
/D:/Thesis_Project/Models/TMER/testing
/D:/Thesis_Project/Models/TMER/training

# 其他缓存或中间文件
*.log
*.tmp
*.out

# 临时/缓存文件
__pycache__/
*.pyc

# 数据文件
links/
training
testing